/* Colors */

/* Variables */

/* @media breakpoints */

/** 1550px oder schmaler */
$breakpoint-lg: 1550px !default;

/** 1250 oder schmaler */
$breakpoint-md: 1250px !default;

/** 950px oder schmaler */
$breakpoint-sm: 950px !default;

/** 650px oder schmaler */
$breakpoint-xs: 650px !default;

/** 350px oder schmaler */
$breakpoint-xxs: 350px !default;

/** 1550px oder schmaler */
// @media (max-width: $breakpoint-lg) {
// }
/** 1250 oder schmaler */
// @media (max-width: $breakpoint-md) {
// }
/** 950px oder schmaler */
// @media (max-width: $breakpoint-sm) {
// }
/** 650px oder schmaler */
// @media (max-width: $breakpoint-xs) {
// }
/** 350px oder schmaler */
// @media (max-width: $breakpoint-xxs) {
// }
