/* Colors */

/* Variables */

/* @media breakpoints */

/** 1700px oder schmaler */
$breakpoint-lg: 1700px !default;

/** 1600px oder schmaler */
$breakpoint-md: 1600px !default;

/** 1300px oder schmaler */
$breakpoint-sm: 1300px !default;

/** 1000px oder schmaler */
$breakpoint-xs: 1000px !default;

/** 800px oder schmaler */
$breakpoint-xxs: 800px !default;

/** 550px oder schmaler */
$breakpoint-xxxs: 550px !default;

/** 1700px oder schmaler */
// @media (max-width: $breakpoint-lg) {
// }
/** 1600px oder schmaler */
// @media (max-width: $breakpoint-md) {
// }
/** 1300px oder schmaler */
// @media (max-width: $breakpoint-sm) {
// }
/** 1000px oder schmaler */
// @media (max-width: $breakpoint-xs) {
// }
/** 800px oder schmaler */
// @media (max-width: $breakpoint-xxs) {
// }
/** 550px oder schmaler */
// @media (max-width: $breakpoint-xxxs) {
// }
