@import "./fonts";
@import "./var";
@import "./default";
@import "./js_css";
@import "./pokemon_types/pokemon_types";

$cardFactor: 1;
$cardHeight: calc(377px / $cardFactor);
$cardWidth: calc(270px / $cardFactor);

$BigCardFactor: 0.45;
$BigCardHeight: calc(377px / $BigCardFactor);
$BigCardWidth: calc(270px / $BigCardFactor);

$navHeight: 80px;

body {
  overflow-x: hidden;
}

.bg {
  background-image: url(../assets/img/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;

  &::before {
    content: "";
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }
}

main {
  max-width: 1920px;
  min-height: calc(100vh - $navHeight);
  margin-inline: auto;
  position: relative;
  display: flex;
  flex-direction: column;

  @media (max-width: $breakpoint-lg) {
    justify-content: unset;
    margin-top: 25px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  height: $navHeight;
  margin-inline: auto;
  gap: 10px;
  padding: 25px;

  .search {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 13vw;
    min-width: 250px;

    .searchLabel {
      color: white;

      .searchIcon {
        height: 35px;
        animation: shake 1s infinite;
      }

      @keyframes shake {
        0% {
          transform: translate(0, 0);
        }
        25% {
          transform: translate(-1px, -1px);
        }
        50% {
          transform: translate(0.5px, 0);
        }
        75% {
          transform: translate(0, 0.5px);
        }
        100% {
          transform: translate(0, 0);
        }
      }
    }

    .pokemonSearchInput {
      width: 100%;
      height: 35px;
      color: white;
      background-color: transparent;
      outline: none;
      border-top: 2px solid rgb(253, 253, 253);
      border-left: 2px solid rgb(253, 253, 253);
      border-right: 2px solid rgb(231, 47, 46);
      border-bottom: 2px solid rgb(231, 47, 46);
      border-radius: 5px;
      padding-left: 10px;
    }
  }
}

.contentCards {
  max-height: fit-content;
  max-width: 1440px;
  width: fit-content;
  margin-inline: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;

  @media (max-width: $breakpoint-lg) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: $breakpoint-sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $breakpoint-xs) {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 80px;
  }

  .container {
    display: flex;
    justify-content: center;
    width: $cardWidth;
    height: $cardHeight;
    position: relative;
    perspective: 2500px;

    &:hover {
      cursor: pointer;
    }

    &:hover .card {
      transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    }

    .card {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: $cardWidth;
      height: $cardHeight;
      background-image: url(../assets/img/bg1.jpg);
      background-size: cover;
      background-position: center;
      border: 10px solid rgb(182, 152, 55);
      border-radius: 10px;
      z-index: -2;

      transition: transform 0.5s;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;
      }

      .info {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .infoLeft {
          margin-top: 5px;
          margin-left: 10px;

          .name {
            font-size: 18px;
            color: rgba(0, 0, 0, 0.7);
          }
        }

        .infoRight {
          margin-top: 5px;
          margin-right: 10px;
          display: flex;
          align-items: center;
          gap: 5px;

          .battlePoints {
            font-size: 16px;
            font-weight: bold;
            color: darkred;
          }

          .number {
            display: inline-block;
            height: fit-content;
            width: fit-content;
            padding: 2px 4px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.7);
            text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
            border: 2px groove rgb(179, 138, 4);
            border-radius: 6px;
          }
        }
      }
      .window {
        margin-top: 5px;
        height: 45%;
        width: 85%;
        background-size: cover;
        background-position: center;
        border: 6px ridge rgb(179, 138, 4);
        z-index: 0;
      }

      .basicData {
        font-size: 8px;
        font-weight: bold;
        width: 85%;
        margin-top: 2px;
        text-align: center;
        color: rgba(0, 0, 0, 0.7);
        padding: 2px;
        background-image: linear-gradient(
          90deg,
          rgba(150, 120, 15, 1) 0%,
          rgba(237, 191, 35, 1) 5%,
          rgba(150, 120, 15, 1) 25%,
          rgba(208, 167, 28, 1) 75%,
          rgba(237, 191, 35, 1) 95%,
          rgba(150, 120, 15, 1) 100%
        );
      }

      .description {
        width: 85%;
        height: 18%;
        margin-top: 10px;
        font-size: 12px;
        text-align: justify;
        color: rgba(0, 0, 0, 0.7);
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
      }

      .types {
        display: flex;
        gap: 10px;
        width: 85%;
        margin-block: 10px;

        & img {
          width: 33%;
        }
      }

      .footerLine {
        position: absolute;
        bottom: 0;
        font-size: 9px;
        margin-bottom: 5px;
        color: rgba(0, 0, 0, 0.7);
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);

        @media (max-width: $breakpoint-xxxs) {
          font-size: 8px;
        }
      }
    }

    .pokemon {
      position: absolute;
      width: 60%;
      top: 33px;
      transition: transform 0.5s;
    }

    &:hover .pokemon {
      transform: translate3d(0%, -30%, 200px);
    }
  }
}

.pokeArrowRightContainer {
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 1;
  transform: translateY(-50%);

  @media (max-width: $breakpoint-lg) {
    position: fixed;
  }

  @media (max-width: $breakpoint-xs) {
    display: none;
  }

  .pokeArrowRight {
    height: 140px;
    width: auto;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-50%) scale(1);
  }

  &:hover .pokeArrowRightBall {
    transition: transform 300ms ease-in-out;
    transform: rotate(-180deg);
  }

  .pokeArrowRightBall {
    transition: transform 300ms ease-in-out;
    position: absolute;
    top: 40%;
    left: 46%;
    height: 25px;
    width: auto;
  }
}

.pokeArrowLeftContainer {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 1;
  transform: translateY(-50%);

  @media (max-width: $breakpoint-lg) {
    position: fixed;
  }

  @media (max-width: $breakpoint-xs) {
    display: none;
  }

  .pokeArrowLeft {
    height: 140px;
    width: auto;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-50%) scale(1);
  }

  &:hover .pokeArrowLeftBall {
    transition: transform 300ms ease-in-out;
    transform: rotate(180deg);
  }

  .pokeArrowLeftBall {
    transition: transform 300ms ease-in-out;
    position: absolute;
    top: 40%;
    right: 46%;
    height: 25px;
    width: auto;
  }
}

.pokeArrowMobileButtonsRight {
  display: none;
  position: fixed;
  right: 25px;
  bottom: 0;
  z-index: 2;

  @media (max-width: $breakpoint-xs) {
    display: block;
  }

  .pokeArrowMobileRight {
    height: 50px;

    &:hover {
      cursor: pointer;
    }
  }

  .pokeArrowMobileRightBall {
    position: absolute;
    top: 21px;
    right: 29px;
    height: 8px;

    &:hover {
      cursor: pointer;
    }
  }

  &:hover .pokeArrowMobileRightBall {
    transition: transform 300ms ease-in-out;
    transform: rotate(-180deg);
  }
}

.pokeArrowMobileButtonsLeft {
  display: none;
  position: fixed;
  left: 25px;
  bottom: 0;
  z-index: 2;

  @media (max-width: $breakpoint-xs) {
    display: block;
  }

  .pokeArrowMobileLeft {
    height: 50px;

    &:hover {
      cursor: pointer;
    }
  }

  .pokeArrowMobileLeftBall {
    position: absolute;
    top: 21px;
    left: 29px;
    height: 8px;

    &:hover {
      cursor: pointer;
    }
  }

  &:hover .pokeArrowMobileLeftBall {
    transition: transform 300ms ease-in-out;
    transform: rotate(-180deg);
  }
}

.contentBigCard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -$navHeight;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  min-width: 100%;
  z-index: 5;

  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.5);

  .containerBigCard {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 80px;

    .pokeArrowLeftBigCard {
      position: absolute;
      top: 5px;
      right: 320px;
      transform: translateY(-50%);
      z-index: -2;

      @media (max-width: $breakpoint-xs) {
        right: 250px;
      }

      @media (max-width: $breakpoint-xxs) {
        top: 390px;
        right: 50px;
      }

      @media (max-width: $breakpoint-xxxs) {
        top: 270px;
        right: 25px;
      }

      .pokeArrowLeft {
        height: 100px;
        width: auto;

        @media (max-width: $breakpoint-xs) {
          height: 80px;
        }
      }

      &:hover {
        cursor: pointer;
        transform: translateY(-50%) scale(1);
      }

      &:hover .pokeArrowLeftBall {
        transition: transform 300ms ease-in-out;
        transform: rotate(180deg);
      }

      .pokeArrowLeftBall {
        transition: transform 300ms ease-in-out;
        position: absolute;
        top: 39.5%;
        right: 46.2%;
        height: 18px;
        width: auto;

        @media (max-width: $breakpoint-xs) {
          height: 14px;
        }
      }
    }

    .infoBox {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: $BigCardHeight;
      width: $BigCardWidth;
      background-image: url(../assets/img/bg1.jpg);
      background-size: cover;
      background-position: center;
      border: 10px solid rgb(182, 152, 55);
      border-radius: 10px;
      z-index: -2;
      transition: transform 0.5s;

      @media (max-width: $breakpoint-xs) {
        max-height: calc($BigCardHeight * 0.8);
        max-width: calc($BigCardWidth * 0.8);
      }

      @media (max-width: $breakpoint-xxxs) {
        max-height: calc($BigCardHeight * 0.5);
        max-width: calc($BigCardWidth * 0.5);
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;
      }

      .info {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .infoLeft {
          display: flex;
          align-items: center;
          margin-top: 5px;
          margin-left: 10px;

          .name {
            font-size: 24px;
            color: rgba(0, 0, 0, 0.7);

            @media (max-width: $breakpoint-xs) {
              font-size: 18px;
            }

            @media (max-width: $breakpoint-xxxs) {
              font-size: 14px;
            }
          }
        }

        .infoRight {
          margin-top: 5px;
          margin-right: 10px;
          display: flex;
          align-items: center;
          gap: 5px;

          .battlePoints {
            font-size: 24px;
            font-weight: bold;
            color: darkred;

            @media (max-width: $breakpoint-xs) {
              font-size: 18px;
            }

            @media (max-width: $breakpoint-xxxs) {
              font-size: 14px;
            }
          }

          .number {
            display: inline-block;
            height: fit-content;
            width: fit-content;
            padding: 2px 4px;
            font-size: 24px;
            color: rgba(0, 0, 0, 0.7);
            text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
            border: 2px groove rgb(179, 138, 4);
            border-radius: 6px;

            @media (max-width: $breakpoint-xs) {
              font-size: 18px;
            }

            @media (max-width: $breakpoint-xxxs) {
              font-size: 14px;
            }
          }
        }
      }
      .window {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        height: 45%;
        width: 85%;
        background-size: cover;
        background-position: center;
        border: 6px ridge rgb(179, 138, 4);
        z-index: 0;

        position: relative;

        .pokemon {
          position: absolute;
          bottom: 0;
          height: 320px;
          width: 320px;

          @media (max-width: $breakpoint-xs) {
            height: 250px;
            width: 250px;
          }

          @media (max-width: $breakpoint-xxxs) {
            height: 130px;
            width: 130px;
          }
        }
      }

      .basicData {
        font-size: 18px;
        font-weight: bold;
        width: 85%;
        margin-top: 2px;
        text-align: center;
        color: rgba(0, 0, 0, 0.7);
        padding: 2px;
        background-image: linear-gradient(
          90deg,
          rgba(150, 120, 15, 1) 0%,
          rgba(237, 191, 35, 1) 5%,
          rgba(150, 120, 15, 1) 25%,
          rgba(208, 167, 28, 1) 75%,
          rgba(237, 191, 35, 1) 95%,
          rgba(150, 120, 15, 1) 100%
        );

        @media (max-width: $breakpoint-xs) {
          font-size: 16px;
        }

        @media (max-width: $breakpoint-xxxs) {
          font-size: 8px;
        }
      }

      .description {
        width: 85%;
        height: 25%;
        margin-top: 10px;
        font-size: 24px;
        text-align: justify;
        color: rgba(0, 0, 0, 0.7);
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);

        @media (max-width: $breakpoint-xs) {
          font-size: 18px;
        }
        @media (max-width: $breakpoint-xxxs) {
          height: 20%;
          font-size: 14px;
        }
      }

      .baseStats {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 85%;
        margin-top: 10px;

        .baseStat {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          font-size: 28px;

          @media (max-width: $breakpoint-xs) {
            font-size: 20px;
            margin-bottom: 40px;
          }

          @media (max-width: $breakpoint-xxxs) {
            font-size: 14px;
          }

          .baseStatIcon {
            height: 32px;
            width: 32px;

            @media (max-width: $breakpoint-xs) {
              height: 25px;
              width: 25px;
            }

            @media (max-width: $breakpoint-xxxs) {
              height: 18px;
              width: 18px;
              gap: 3px;
            }
          }
        }
      }

      .types {
        display: flex;
        gap: 10px;
        width: 85%;
        margin-block: 10px;

        & img {
          width: 33%;
        }
      }

      .footerLine {
        position: absolute;
        bottom: 0;
        font-size: 18px;
        margin-bottom: 5px;
        color: rgba(0, 0, 0, 0.7);
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);

        @media (max-width: $breakpoint-xs) {
          font-size: 16px;
        }
        @media (max-width: $breakpoint-xxxs) {
          font-size: 9px;
        }
      }
    }

    .pokeArrowRightBigCard {
      position: absolute;
      top: 0;
      left: 320px;
      transform: translateY(-50%);
      z-index: -2;

      @media (max-width: $breakpoint-xs) {
        left: 250px;
      }

      @media (max-width: $breakpoint-xxs) {
        top: 390px;
        left: 50px;
      }

      @media (max-width: $breakpoint-xxxs) {
        top: 270px;
        left: 25px;
      }

      .pokeArrowRight {
        height: 100px;
        width: auto;
        z-index: -10;

        @media (max-width: $breakpoint-xs) {
          height: 80px;
        }
      }

      &:hover {
        cursor: pointer;
        transform: translateY(-50%) scale(1);
      }

      &:hover .pokeArrowRightBall {
        transition: transform 300ms ease-in-out;
        transform: rotate(-180deg);
      }

      .pokeArrowRightBall {
        transition: transform 300ms ease-in-out;
        position: absolute;
        top: 39.5%;
        left: 46.2%;
        height: 18px;
        width: auto;

        @media (max-width: $breakpoint-xs) {
          height: 14px;
        }
      }
    }
  }
}
