@import "./fonts";
@import "./var";
@import "./default";
@import "./js_css";
@import "./pokemon_cards/pokemon_cards";

.bg {
  background-image: url(../assets/img/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;

  &::before {
    content: "";
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }
}

main {
  max-width: 1920px;
  min-height: calc(100vh - ($navHeight + $footerHeight));
  margin-inline: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $breakpoint-lg) {
    justify-content: unset;
    margin-top: 25px;
  }
}

.nav {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1612px;
  width: 100%;
  height: $navHeight;
  margin-inline: auto;
  padding-top: 10px;
  gap: 20px;

  @media (max-width: $breakpoint-lg) {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
  }

  @media (max-width: $breakpoint-xs) {
    grid-template-columns: repeat(1, 1fr);
    height: fit-content;
    padding: 0;
    gap: 10px;
  }

  .homeButton {
    height: 60px;
    order: 1;

    @media (max-width: $breakpoint-xs) {
      margin-top: 25px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 13vw;
    min-width: 241px;
    position: relative;
    order: 2;

    @media (max-width: $breakpoint-xs) {
      order: 3;
    }

    .searchLabel {
      color: $pokemonWhite;

      .searchIcon {
        height: 35px;
        margin: 10px;
        animation: shake 1s infinite;

        &:hover {
          cursor: pointer;
        }
      }

      @keyframes shake {
        0% {
          transform: translate(0, 0);
        }
        25% {
          transform: translate(-1px, -1px);
        }
        50% {
          transform: translate(0.5px, 0);
        }
        75% {
          transform: translate(0, 0.5px);
        }
        100% {
          transform: translate(0, 0);
        }
      }
    }

    .pokemonSearchInput {
      width: 100%;
      height: 35px;
      color: $pokemonWhite;
      background-color: transparent;
      outline: none;
      border-top: 2px solid $pokemonWhite;
      border-left: 2px solid $pokemonWhite;
      border-right: 2px solid $pokemonRed;
      border-bottom: 2px solid $pokemonRed;
      border-radius: 5px;
      padding-left: 10px;
    }

    .searchSuggestions {
      position: absolute;
      width: 100%;
      top: 45px;
      left: 0;
      color: $pokemonRed;
      background-color: $pokemonWhite;
      border: 2px solid $pokemonRed;
      border-radius: 3px;
      padding: 5px;
      margin-top: 10px;
      z-index: 2;

      :hover {
        cursor: pointer;
      }
      .suggestion {
        padding: 5px;
        &:hover {
          background-color: black;
          color: white;
          border-radius: 3px;
        }
      }
    }
  }

  .pokemonRegions {
    order: 3;

    @media (max-width: $breakpoint-xs) {
      order: 2;
    }

    .pokemonRegionsIcon {
      height: 55px;
      animation: tilting 5s infinite;
      filter: drop-shadow(0px 0px 10px #000000);

      &:hover {
        cursor: pointer;
        filter: drop-shadow(0px 0px 5px #ffffff);
      }

      @keyframes tilting {
        0% {
          transform: translate(-5px, 0) rotate(-5deg);
        }
        50% {
          transform: translate(5px, 0) rotate(5deg);
        }
        100% {
          transform: translate(-5px, 0) rotate(-5deg);
        }
      }
    }
    .selectedPokemonRegions {
      position: absolute;
      top: -35%;
      left: 50%;
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
      padding: 25px;
      height: fit-content;
      width: fit-content;
      min-width: 300px;
      background-color: white;
      transform: translateX(-50%);
      z-index: 1;
      border: 2px solid transparent;
      border-radius: 10px;
      backdrop-filter: blur(4px) saturate(180%);
      -webkit-backdrop-filter: blur(4px) saturate(180%);
      background-color: rgba(17, 25, 40, 0.5);
      transition: top 1s ease-in-out;

      box-shadow: 0px 0px 16px 5px #000000;

      @media (max-width: $breakpoint-xxs) {
        grid-template-columns: repeat(2, 1fr);
        top: -60%;
      }

      @media (max-width: $breakpoint-xxxs) {
        grid-template-columns: repeat(1, 1fr);
        top: -100%;
      }

      & img {
        height: 50px;
        width: auto;
        filter: drop-shadow(0px 0px 10px #000000);

        &:hover {
          cursor: pointer;
          filter: drop-shadow(0px 0px 5px #ffffff);
        }
      }
    }

    .transformIn {
      transition: top 1s ease-in-out;
      top: 18%;
    }
  }

  .yourName {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 13vw;
    min-width: 241px;
    position: relative;
    order: 4;

    @media (max-width: $breakpoint-xs) {
      flex-direction: row-reverse;
    }

    .yourNameLabel {
      color: $pokemonWhite;

      .yourNameIcon {
        height: 45px;
        margin: 5px;
        filter: saturate(1.4) contrast(1.1);

        &:hover {
          cursor: pointer;
        }
      }
    }

    .userNameInput {
      width: 100%;
      height: 35px;
      color: $pokemonWhite;
      background-color: transparent;
      outline: none;
      border-top: 2px solid $pokemonWhite;
      border-left: 2px solid $pokemonWhite;
      border-right: 2px solid $pokemonRed;
      border-bottom: 2px solid $pokemonRed;
      border-radius: 5px;
      padding-left: 10px;
      caret-color: white;

      &::placeholder {
        font-size: 12px;
        padding-left: 5px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 40%, rgba(232, 46, 45, 1) 60%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .languageSettings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 10px;
    order: 5;

    & img {
      width: 35px;
      height: 35px;
      border-radius: 99999px;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
}

.contentCards {
  max-height: fit-content;
  max-width: 1440px;
  width: fit-content;
  margin-inline: auto;
  margin-top: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;

  @media (max-width: $breakpoint-lg) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: $breakpoint-sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $breakpoint-xs) {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 80px;
  }

  .container {
    display: flex;
    justify-content: center;
    width: $cardWidth;
    height: $cardHeight;
    position: relative;
    perspective: 2500px;

    &:hover {
      cursor: pointer;
    }

    &:hover .card {
      transition: transform 0.5s;
      transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    }

    .card {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: $cardWidth;
      height: $cardHeight;
      background-image: url(../assets/img/bgCards.jpg);
      background-size: cover;
      background-position: center;
      border: 10px solid rgb(182, 152, 55);
      border-radius: 10px;
      z-index: -2;
      transition: transform 0.5s;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;
        mix-blend-mode: hard-light;
      }

      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;

        .infoLeft {
          margin-top: 5px;

          .name {
            font-size: 1.125rem;
            color: rgba(0, 0, 0, 0.7);
          }
        }

        .infoRight {
          margin-top: 5px;
          display: flex;
          align-items: center;
          gap: 5px;

          .battlePoints {
            font-size: 1rem;
            font-weight: bold;
            color: darkred;
          }

          .number {
            display: inline-block;
            height: fit-content;
            width: fit-content;
            padding: 2px 4px;
            font-size: 0.875rem;
            color: rgba(0, 0, 0, 0.7);
            text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
            border: 2px groove rgb(179, 138, 4);
            border-radius: 6px;
          }
        }
      }
      .window {
        margin-top: 5px;
        height: 45%;
        width: 85%;
        background-size: cover;
        background-position: center;
        border: 6px ridge rgb(179, 138, 4);
        z-index: 0;
      }

      .basicData {
        font-size: 0.5rem;
        font-weight: bold;
        width: 85%;
        margin-top: 2px;
        text-align: center;
        color: rgba(0, 0, 0, 0.7);
        padding: 2px;
        background-image: linear-gradient(
          90deg,
          rgba(150, 120, 15, 1) 0%,
          rgba(237, 191, 35, 1) 5%,
          rgba(150, 120, 15, 1) 25%,
          rgba(208, 167, 28, 1) 75%,
          rgba(237, 191, 35, 1) 95%,
          rgba(150, 120, 15, 1) 100%
        );
      }

      .description {
        width: 85%;
        height: 20%;
        margin-top: 10px;
        font-size: 0.7rem;
        text-align: justify;
        color: rgba(0, 0, 0, 0.7);
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
      }

      .types {
        display: flex;
        align-items: center;
        gap: 15px;
        width: 85%;
        margin-block: 10px;

        & img {
          width: 20px;
          filter: drop-shadow(1px 1px 0px #000000);
        }
      }

      .footerLine {
        position: absolute;
        bottom: 0;
        font-size: 0.5rem;
        margin-bottom: 5px;
        color: rgba(0, 0, 0, 0.7);
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);

        @media (max-width: $breakpoint-xxxs) {
          font-size: 0.5rem;
        }
      }
    }

    .pokemonCard {
      position: absolute;
      width: 60%;
      top: 33px;
      transition: transform 0.5s;
    }

    .loading {
      top: 100px;
      width: 30%;
    }

    &:hover .pokemonCard {
      transform: translate3d(0%, -30%, 200px);
      pointer-events: none;
    }
  }
}

.pokeArrowRightContainer {
  position: absolute;
  top: calc(50% - ($navHeight - 70px));
  right: 20px;
  z-index: 1;
  transform: translateY(-50%);
  opacity: 0.7;

  @media (max-width: $breakpoint-lg) {
    position: fixed;
  }

  @media (max-width: $breakpoint-xs) {
    display: none;
  }

  .pokeArrowRight {
    height: 140px;
    width: auto;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-50%) scale(1);
  }

  &:hover .pokeArrowRightBall {
    transition: transform 300ms ease-in-out;
    transform: rotate(-180deg);
  }

  .pokeArrowRightBall {
    transition: transform 300ms ease-in-out;
    position: absolute;
    top: 40%;
    left: 46%;
    height: 25px;
    width: auto;
  }
}

.pokeArrowLeftContainer {
  position: absolute;
  top: calc(50% - ($navHeight - 70px));
  left: 20px;
  z-index: 1;
  transform: translateY(-50%);
  opacity: 0.7;

  @media (max-width: $breakpoint-lg) {
    position: fixed;
  }

  @media (max-width: $breakpoint-xs) {
    display: none;
  }

  .pokeArrowLeft {
    height: 140px;
    width: auto;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-50%) scale(1);
  }

  &:hover .pokeArrowLeftBall {
    transition: transform 300ms ease-in-out;
    transform: rotate(180deg);
  }

  .pokeArrowLeftBall {
    transition: transform 300ms ease-in-out;
    position: absolute;
    top: 40%;
    right: 46%;
    height: 25px;
    width: auto;
  }
}

.pokeArrowMobileButtonsRight {
  display: none;
  position: fixed;
  right: 25px;
  bottom: 0;
  z-index: 2;
  opacity: 0.7;

  @media (max-width: $breakpoint-xs) {
    display: block;
  }

  .pokeArrowMobileRight {
    height: 50px;

    &:hover {
      cursor: pointer;
    }
  }

  .pokeArrowMobileRightBall {
    position: absolute;
    top: 21px;
    right: 29px;
    height: 8px;

    &:hover {
      cursor: pointer;
    }
  }

  &:hover .pokeArrowMobileRightBall {
    transition: transform 300ms ease-in-out;
    transform: rotate(-180deg);
  }
}

.pokeArrowMobileButtonsLeft {
  display: none;
  position: fixed;
  left: 25px;
  bottom: 0;
  z-index: 2;
  opacity: 0.7;

  @media (max-width: $breakpoint-xs) {
    display: block;
  }

  .pokeArrowMobileLeft {
    height: 50px;

    &:hover {
      cursor: pointer;
    }
  }

  .pokeArrowMobileLeftBall {
    position: absolute;
    top: 21px;
    left: 29px;
    height: 8px;

    &:hover {
      cursor: pointer;
    }
  }

  &:hover .pokeArrowMobileLeftBall {
    transition: transform 300ms ease-in-out;
    transform: rotate(-180deg);
  }
}

.contentBigCard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -$navHeight;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  min-width: 100%;
  z-index: 5;

  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.5);

  .containerBigCard {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 80px;

    .pokeArrowLeftBigCard {
      position: absolute;
      top: 5px;
      right: 320px;
      transform: translateY(-50%);
      z-index: -2;
      opacity: 0.7;

      @media (max-width: $breakpoint-xs) {
        right: 250px;
      }

      @media (max-width: $breakpoint-xxs) {
        top: 390px;
        right: 50px;
      }

      @media (max-width: $breakpoint-xxxs) {
        top: 270px;
        right: 25px;
      }

      .pokeArrowLeft {
        height: 100px;
        width: auto;

        @media (max-width: $breakpoint-xs) {
          height: 80px;
        }
      }

      &:hover {
        cursor: pointer;
        transform: translateY(-50%) scale(1);
      }

      &:hover .pokeArrowLeftBall {
        transition: transform 300ms ease-in-out;
        transform: rotate(180deg);
      }

      .pokeArrowLeftBall {
        transition: transform 300ms ease-in-out;
        position: absolute;
        top: 39.5%;
        right: 46.2%;
        height: 18px;
        width: auto;

        @media (max-width: $breakpoint-xs) {
          height: 14px;
        }
      }
    }

    .infoBox {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: $BigCardHeight;
      width: $BigCardWidth;
      background-image: url(../assets/img/bgCards.jpg);
      background-size: cover;
      background-position: center;
      border: 10px solid rgb(182, 152, 55);
      border-radius: 10px;
      z-index: -2;
      transition: transform 0.5s;

      @media (max-width: $breakpoint-xs) {
        max-height: calc($BigCardHeight * 0.8);
        max-width: calc($BigCardWidth * 0.8);
      }

      @media (max-width: $breakpoint-xxxs) {
        max-height: calc($BigCardHeight * 0.5);
        max-width: calc($BigCardWidth * 0.5);
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;
        mix-blend-mode: hard-light;
      }

      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;

        .infoLeft {
          display: flex;
          align-items: center;
          gap: 5px;
          margin-top: 5px;

          .name {
            font-size: 1.5rem;
            color: rgba(0, 0, 0, 0.7);

            @media (max-width: $breakpoint-xs) {
              font-size: 1.125rem;
            }

            @media (max-width: $breakpoint-xxxs) {
              font-size: 0.875rem;
            }
          }

          .cries {
            height: 30px;
            fill: #b38a04;
            filter: drop-shadow(2px 2px 2px #000000);

            &:hover {
              cursor: pointer;
              filter: drop-shadow(0px 0px 5px #ffffff);
            }
          }
        }

        .infoRight {
          margin-top: 5px;
          display: flex;
          align-items: center;
          gap: 5px;

          .battlePoints {
            font-size: 1.5rem;
            font-weight: bold;
            color: darkred;

            @media (max-width: $breakpoint-xs) {
              font-size: 1.125rem;
            }

            @media (max-width: $breakpoint-xxxs) {
              font-size: 0.875rem;
            }
          }

          .number {
            display: inline-block;
            height: fit-content;
            width: fit-content;
            padding: 2px 4px;
            font-size: 1.5rem;
            color: rgba(0, 0, 0, 0.7);
            text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
            border: 2px groove rgb(179, 138, 4);
            border-radius: 6px;

            @media (max-width: $breakpoint-xs) {
              font-size: 1.125rem;
            }

            @media (max-width: $breakpoint-xxxs) {
              font-size: 0.875rem;
            }
          }
        }
      }
      .window {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        height: 45%;
        width: 85%;
        background-size: cover;
        background-position: center;
        border: 6px ridge rgb(179, 138, 4);
        z-index: 0;

        position: relative;

        .pokemon {
          position: absolute;
          bottom: 0;
          height: 320px;
          width: 320px;

          @media (max-width: $breakpoint-xs) {
            height: 250px;
            width: 250px;
          }

          @media (max-width: $breakpoint-xxxs) {
            height: 130px;
            width: 130px;
          }
        }
      }

      .basicData {
        font-size: 1.125rem;
        font-weight: bold;
        width: 85%;
        margin-top: 2px;
        text-align: center;
        color: rgba(0, 0, 0, 0.7);
        padding: 2px;
        background-image: linear-gradient(
          90deg,
          rgba(150, 120, 15, 1) 0%,
          rgba(237, 191, 35, 1) 5%,
          rgba(150, 120, 15, 1) 25%,
          rgba(208, 167, 28, 1) 75%,
          rgba(237, 191, 35, 1) 95%,
          rgba(150, 120, 15, 1) 100%
        );

        @media (max-width: $breakpoint-xs) {
          font-size: 1rem;
        }

        @media (max-width: $breakpoint-xxxs) {
          font-size: 0.5rem;
        }
      }

      .description {
        width: 85%;
        height: 15%;
        margin-top: 10px;
        font-size: 1.3rem;
        text-align: justify;
        color: rgba(0, 0, 0, 0.7);
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);

        @media (max-width: $breakpoint-xs) {
          font-size: 1.125rem;
        }

        @media (max-width: $breakpoint-xxxs) {
          font-size: 0.875rem;
        }
      }

      .quickInfos {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        gap: 0px;
        margin-bottom: 25px;

        @media (max-width: $breakpoint-xs) {
          gap: 15px;
        }

        @media (max-width: $breakpoint-xxxs) {
          gap: 5px;
        }

        .myChart {
          max-height: 100% !important;
          max-width: 80% !important;

          @media (max-width: $breakpoint-xxxs) {
            max-height: 90% !important;
            max-width: 80% !important;
          }
        }

        .types {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 30px;
          width: 85%;
          margin-block: 20px;

          @media (max-width: $breakpoint-xxxs) {
            gap: 15px;
          }

          & img {
            width: 40px;
            filter: drop-shadow(1px 1px 0px #000000);

            @media (max-width: $breakpoint-xs) {
              width: 30px;
            }

            @media (max-width: $breakpoint-xxxs) {
              width: 20px;
            }
          }
        }
      }

      .footerLine {
        position: absolute;
        bottom: 0;
        font-size: 1.125rem;
        margin-bottom: 5px;
        color: rgba(0, 0, 0, 0.7);
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);

        @media (max-width: $breakpoint-xs) {
          font-size: 1rem;
        }
        @media (max-width: $breakpoint-xxxs) {
          font-size: 0.5625rem;
        }
      }
    }

    .pokeArrowRightBigCard {
      position: absolute;
      top: 0;
      left: 320px;
      transform: translateY(-50%);
      z-index: -2;
      opacity: 0.7;

      @media (max-width: $breakpoint-xs) {
        left: 250px;
      }

      @media (max-width: $breakpoint-xxs) {
        top: 390px;
        left: 50px;
      }

      @media (max-width: $breakpoint-xxxs) {
        top: 270px;
        left: 25px;
      }

      .pokeArrowRight {
        height: 100px;
        width: auto;
        z-index: -10;

        @media (max-width: $breakpoint-xs) {
          height: 80px;
        }
      }

      &:hover {
        cursor: pointer;
        transform: translateY(-50%) scale(1);
      }

      &:hover .pokeArrowRightBall {
        transition: transform 300ms ease-in-out;
        transform: rotate(-180deg);
      }

      .pokeArrowRightBall {
        transition: transform 300ms ease-in-out;
        position: absolute;
        top: 39.5%;
        left: 46.2%;
        height: 18px;
        width: auto;

        @media (max-width: $breakpoint-xs) {
          height: 14px;
        }
      }
    }
  }
}

.imprint {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - $navHeight);
  max-width: 1000px;
  margin-inline: auto;
  margin-top: 25px;
  padding: 25px;
  border: 2px solid $pokemonRed;
  border-radius: 5px;
  color: black;
  background-color: white;
  word-break: break-all;

  .header,
  .address,
  .representedBy,
  .contact {
    margin-block: 10px;
  }

  & h2 {
    margin-top: 15px;
  }

  & h3 {
    margin-block: 25px;
  }
}

.privacyPolicy {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - $navHeight);
  max-width: 1000px;
  margin-inline: auto;
  margin-top: 25px;
  padding: 25px;
  border: 2px solid $pokemonRed;
  border-radius: 5px;
  color: black;
  background-color: white;
  word-break: break-all;

  & h1,
  h2,
  h3,
  p,
  ul {
    margin-top: 15px;
  }

  & ul {
    margin-left: 20px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $footerHeight;

  @media (max-width: $breakpoint-xxxs) {
    margin-top: 30px;
    margin-bottom: 60px;
    flex-direction: column;
  }

  & img {
    height: 50px;
    filter: drop-shadow(0px 0px 10px #000000);

    &:hover {
      cursor: pointer;
      filter: drop-shadow(0px 0px 5px #ffffff);
    }
  }
}

.cardEffekt:hover {
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    mix-blend-mode: color-dodge;
    transition: all 300ms ease;
  }

  &::before {
    background-position: 50% 50%;
    background-size: 500% 500%;
    background-image: linear-gradient(115deg, transparent 0%, rgb(224, 188, 216) 25%, transparent 50%, rgb(165, 220, 228) 75%, transparent 100%);
    transition: background-image 300ms ease-in-out;
    animation: holoGradient 6s linear infinite;
  }
}

@keyframes holoGradient {
  0% {
    background-position: 100% 100%;
    opacity: 0.5;
    filter: brightness(1.2) contrast(1);
  }
  25% {
    opacity: 0.8;
  }
  50% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(1) contrast(1.25);
  }
  75% {
    opacity: 0.8;
  }
  100% {
    background-position: 100% 100%;
    opacity: 0.5;
    filter: brightness(1.2) contrast(1);
  }
}
