/* Colors */
/* Variables */
/* @media breakpoints */
/** 1700px oder schmaler */
/** 1600px oder schmaler */
/** 1300px oder schmaler */
/** 1000px oder schmaler */
/** 800px oder schmaler */
/** 550px oder schmaler */
/** 1700px oder schmaler */
/** 1600px oder schmaler */
/** 1300px oder schmaler */
/** 1000px oder schmaler */
/** 800px oder schmaler */
/** 550px oder schmaler */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Times New Roman";
  font-size: 16px;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: rgb(255, 255, 255) rgb(0, 0, 0);
}

.overflow {
  overflow: hidden;
}

.d_none {
  display: none !important;
}

.d_block {
  display: block !important;
}

.d_flex {
  display: flex !important;
}

svg {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

a {
  text-decoration: none;
}

.grass_window_bg {
  background-image: url(../assets/img/window_bgs/grass_window_bg.jpg);
}

.grass_card_before::before {
  background-color: rgba(55, 148, 0, 0.5);
}

.fire_window_bg {
  background-image: url(../assets/img/window_bgs/fire_window_bg.jpg);
}

.fire_card_before::before {
  background-color: rgba(255, 69, 0, 0.5);
}

.water_window_bg {
  background-image: url(../assets/img/window_bgs/water_window_bg.jpg);
}

.water_card_before::before {
  background-color: rgba(0, 105, 255, 0.5);
}

.electric_window_bg {
  background-image: url(../assets/img/window_bgs/electric_window_bg.jpg);
}

.electric_card_before::before {
  background-color: rgba(253, 210, 0, 0.5);
}

.ice_window_bg {
  background-image: url(../assets/img/window_bgs/ice_window_bg.jpg);
}

.ice_card_before::before {
  background-color: rgba(173, 216, 230, 0.5);
}

.rock_window_bg {
  background-image: url(../assets/img/window_bgs/rock_window_bg.jpg);
}

.rock_card_before::before {
  background-color: rgba(139, 125, 90, 0.5);
}

.fighting_window_bg {
  background-image: url(../assets/img/window_bgs/fighting_window_bg.jpg);
}

.fighting_card_before::before {
  background-color: rgba(192, 60, 48, 0.5);
}

.poison_window_bg {
  background-image: url(../assets/img/window_bgs/poison_window_bg.jpg);
}

.poison_card_before::before {
  background-color: rgba(128, 0, 128, 0.5);
}

.bug_window_bg {
  background-image: url(../assets/img/window_bgs/bug_window_bg.jpg);
}

.bug_card_before::before {
  background-color: rgba(178, 223, 138, 0.5);
}

.fairy_window_bg {
  background-image: url(../assets/img/window_bgs/fairy_window_bg.jpg);
}

.fairy_card_before::before {
  background-color: rgba(255, 182, 193, 0.5);
}

.dark_window_bg {
  background-image: url(../assets/img/window_bgs/dark_window_bg.jpg);
}

.dark_card_before::before {
  background-color: rgba(54, 57, 63, 0.5);
}

.dragon_window_bg {
  background-image: url(../assets/img/window_bgs/dragon_window_bg.jpg);
}

.dragon_card_before::before {
  background-color: rgba(80, 97, 225, 0.5);
}

.steel_window_bg {
  background-image: url(../assets/img/window_bgs/steel_window_bg.jpg);
}

.steel_card_before::before {
  background-color: rgba(183, 183, 183, 0.5);
}

.ghost_window_bg {
  background-image: url(../assets/img/window_bgs/ghost_window_bg.jpg);
}

.ghost_card_before::before {
  background-color: rgba(112, 65, 112, 0.5);
}

.psychic_window_bg {
  background-image: url(../assets/img/window_bgs/psychic_window_bg.jpg);
}

.psychic_card_before::before {
  background-color: rgba(239, 65, 120, 0.5);
}

.flying_window_bg {
  background-image: url(../assets/img/window_bgs/flying_window_bg.jpg);
}

.flying_card_before::before {
  background-color: rgba(135, 206, 250, 0.5);
}

.ground_window_bg {
  background-image: url(../assets/img/window_bgs/ground_window_bg.jpg);
}

.ground_card_before::before {
  background-color: rgba(191, 153, 84, 0.5);
}

.normal_window_bg {
  background-image: url(../assets/img/window_bgs/normal_window_bg.jpg);
}

.normal_card_before::before {
  background-color: rgba(255, 255, 255, 0.5);
}

body {
  overflow-x: hidden;
}

.bg {
  background-image: url(../assets/img/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}
.bg::before {
  content: "";
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

main {
  max-width: 1920px;
  min-height: calc(100vh - 80px);
  margin-inline: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1700px) {
  main {
    justify-content: unset;
    margin-top: 25px;
  }
}

.nav {
  display: flex;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  height: 80px;
  margin-inline: auto;
  gap: 10px;
  padding: 25px;
}
.nav .search {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav .search .searchLabel {
  color: white;
}
.nav .search .searchLabel .searchIcon {
  height: 35px;
  animation: shake 1s infinite;
}
@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-1px, -1px);
  }
  50% {
    transform: translate(0.5px, 0);
  }
  75% {
    transform: translate(0, 0.5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.nav .search .pokemonSearchInput {
  width: 190px;
  height: 35px;
  color: white;
  background-color: transparent;
  outline: none;
  border-top: 2px solid rgb(253, 253, 253);
  border-left: 2px solid rgb(253, 253, 253);
  border-right: 2px solid rgb(231, 47, 46);
  border-bottom: 2px solid rgb(231, 47, 46);
  border-radius: 5px;
  padding-left: 10px;
}

.contentCards {
  max-height: -moz-fit-content;
  max-height: fit-content;
  max-width: 1440px;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
@media (max-width: 1700px) {
  .contentCards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1600px) {
  .contentCards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1300px) {
  .contentCards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1000px) {
  .contentCards {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 80px;
  }
}
.contentCards .container {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 377px;
  position: relative;
  perspective: 2500px;
}
.contentCards .container:hover {
  cursor: pointer;
}
.contentCards .container:hover .card {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
}
.contentCards .container .card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 377px;
  background-image: url(../assets/img/bg1.jpg);
  background-size: cover;
  background-position: center;
  border: 10px solid rgb(182, 152, 55);
  border-radius: 10px;
  z-index: -2;
  transition: transform 0.5s;
}
.contentCards .container .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
.contentCards .container .card .info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contentCards .container .card .info .infoLeft {
  margin-top: 5px;
  margin-left: 10px;
}
.contentCards .container .card .info .infoLeft .name {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}
.contentCards .container .card .info .infoRight {
  margin-top: 5px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.contentCards .container .card .info .infoRight .battlePoints {
  font-size: 16px;
  font-weight: bold;
  color: darkred;
}
.contentCards .container .card .info .infoRight .number {
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 4px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border: 2px groove rgb(179, 138, 4);
  border-radius: 6px;
}
.contentCards .container .card .window {
  margin-top: 5px;
  height: 45%;
  width: 85%;
  background-size: cover;
  background-position: center;
  border: 6px ridge rgb(179, 138, 4);
  z-index: 0;
}
.contentCards .container .card .basicData {
  font-size: 8px;
  font-weight: bold;
  width: 85%;
  margin-top: 2px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  padding: 2px;
  background-image: linear-gradient(90deg, rgb(150, 120, 15) 0%, rgb(237, 191, 35) 5%, rgb(150, 120, 15) 25%, rgb(208, 167, 28) 75%, rgb(237, 191, 35) 95%, rgb(150, 120, 15) 100%);
}
.contentCards .container .card .description {
  width: 85%;
  height: 18%;
  margin-top: 10px;
  font-size: 12px;
  text-align: justify;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.contentCards .container .card .types {
  display: flex;
  gap: 10px;
  width: 85%;
  margin-block: 10px;
}
.contentCards .container .card .types img {
  width: 33%;
}
.contentCards .container .card .footerLine {
  position: absolute;
  bottom: 0;
  font-size: 9px;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 550px) {
  .contentCards .container .card .footerLine {
    font-size: 8px;
  }
}
.contentCards .container .pokemon {
  position: absolute;
  width: 60%;
  top: 33px;
  transition: transform 0.5s;
}
.contentCards .container:hover .pokemon {
  transform: translate3d(0%, -30%, 200px);
}

.pokeArrowRightContainer {
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 1;
  transform: translateY(-50%);
}
@media (max-width: 1700px) {
  .pokeArrowRightContainer {
    position: fixed;
  }
}
@media (max-width: 1000px) {
  .pokeArrowRightContainer {
    display: none;
  }
}
.pokeArrowRightContainer .pokeArrowRight {
  height: 140px;
  width: auto;
}
.pokeArrowRightContainer:hover {
  cursor: pointer;
  transform: translateY(-50%) scale(1);
}
.pokeArrowRightContainer:hover .pokeArrowRightBall {
  transition: transform 300ms ease-in-out;
  transform: rotate(-180deg);
}
.pokeArrowRightContainer .pokeArrowRightBall {
  transition: transform 300ms ease-in-out;
  position: absolute;
  top: 40%;
  left: 46%;
  height: 25px;
  width: auto;
}

.pokeArrowLeftContainer {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 1;
  transform: translateY(-50%);
}
@media (max-width: 1700px) {
  .pokeArrowLeftContainer {
    position: fixed;
  }
}
@media (max-width: 1000px) {
  .pokeArrowLeftContainer {
    display: none;
  }
}
.pokeArrowLeftContainer .pokeArrowLeft {
  height: 140px;
  width: auto;
}
.pokeArrowLeftContainer:hover {
  cursor: pointer;
  transform: translateY(-50%) scale(1);
}
.pokeArrowLeftContainer:hover .pokeArrowLeftBall {
  transition: transform 300ms ease-in-out;
  transform: rotate(180deg);
}
.pokeArrowLeftContainer .pokeArrowLeftBall {
  transition: transform 300ms ease-in-out;
  position: absolute;
  top: 40%;
  right: 46%;
  height: 25px;
  width: auto;
}

.pokeArrowMobileButtons {
  display: none;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
  padding-inline: 25px;
  padding-bottom: 10px;
  z-index: 2;
}
@media (max-width: 1000px) {
  .pokeArrowMobileButtons {
    display: flex;
  }
}
.pokeArrowMobileButtons .pokeArrowMobileLeft {
  height: 50px;
}
.pokeArrowMobileButtons .pokeArrowMobileLeft:hover {
  cursor: pointer;
}
.pokeArrowMobileButtons .pokeArrowMobileRight {
  height: 50px;
}
.pokeArrowMobileButtons .pokeArrowMobileRight:hover {
  cursor: pointer;
}

.contentBigCard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -80px;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  min-width: 100%;
  z-index: 5;
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.5);
}
.contentBigCard .containerBigCard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 80px;
}
.contentBigCard .containerBigCard .pokeArrowLeftBigCard {
  position: absolute;
  top: 5px;
  right: 320px;
  transform: translateY(-50%);
  z-index: -2;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .pokeArrowLeftBigCard {
    right: 250px;
  }
}
@media (max-width: 800px) {
  .contentBigCard .containerBigCard .pokeArrowLeftBigCard {
    top: -385px;
    right: 50px;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .pokeArrowLeftBigCard {
    top: -280px;
    right: 25px;
  }
}
.contentBigCard .containerBigCard .pokeArrowLeftBigCard .pokeArrowLeft {
  height: 100px;
  width: auto;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .pokeArrowLeftBigCard .pokeArrowLeft {
    height: 80px;
  }
}
.contentBigCard .containerBigCard .pokeArrowLeftBigCard:hover {
  cursor: pointer;
  transform: translateY(-50%) scale(1);
}
.contentBigCard .containerBigCard .pokeArrowLeftBigCard:hover .pokeArrowLeftBall {
  transition: transform 300ms ease-in-out;
  transform: rotate(180deg);
}
.contentBigCard .containerBigCard .pokeArrowLeftBigCard .pokeArrowLeftBall {
  transition: transform 300ms ease-in-out;
  position: absolute;
  top: 39.5%;
  right: 46.2%;
  height: 18px;
  width: auto;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .pokeArrowLeftBigCard .pokeArrowLeftBall {
    height: 14px;
  }
}
.contentBigCard .containerBigCard .infoBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 837.7777777778px;
  width: 600px;
  background-image: url(../assets/img/bg1.jpg);
  background-size: cover;
  background-position: center;
  border: 10px solid rgb(182, 152, 55);
  border-radius: 10px;
  z-index: -2;
  transition: transform 0.5s;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .infoBox {
    max-height: 670.2222222222px;
    max-width: 480px;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox {
    max-height: 418.8888888889px;
    max-width: 300px;
  }
}
.contentBigCard .containerBigCard .infoBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
.contentBigCard .containerBigCard .infoBox .info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contentBigCard .containerBigCard .infoBox .info .infoLeft {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-left: 10px;
}
.contentBigCard .containerBigCard .infoBox .info .infoLeft .name {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .infoBox .info .infoLeft .name {
    font-size: 18px;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox .info .infoLeft .name {
    font-size: 14px;
  }
}
.contentBigCard .containerBigCard .infoBox .info .infoRight {
  margin-top: 5px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.contentBigCard .containerBigCard .infoBox .info .infoRight .battlePoints {
  font-size: 24px;
  font-weight: bold;
  color: darkred;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .infoBox .info .infoRight .battlePoints {
    font-size: 18px;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox .info .infoRight .battlePoints {
    font-size: 14px;
  }
}
.contentBigCard .containerBigCard .infoBox .info .infoRight .number {
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 4px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border: 2px groove rgb(179, 138, 4);
  border-radius: 6px;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .infoBox .info .infoRight .number {
    font-size: 18px;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox .info .infoRight .number {
    font-size: 14px;
  }
}
.contentBigCard .containerBigCard .infoBox .window {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  height: 45%;
  width: 85%;
  background-size: cover;
  background-position: center;
  border: 6px ridge rgb(179, 138, 4);
  z-index: 0;
}
.contentBigCard .containerBigCard .infoBox .window .pokemon {
  width: 350px;
}
.contentBigCard .containerBigCard .infoBox .basicData {
  font-size: 18px;
  font-weight: bold;
  width: 85%;
  margin-top: 2px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  padding: 2px;
  background-image: linear-gradient(90deg, rgb(150, 120, 15) 0%, rgb(237, 191, 35) 5%, rgb(150, 120, 15) 25%, rgb(208, 167, 28) 75%, rgb(237, 191, 35) 95%, rgb(150, 120, 15) 100%);
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .infoBox .basicData {
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox .basicData {
    font-size: 8px;
  }
}
.contentBigCard .containerBigCard .infoBox .description {
  width: 85%;
  height: 25%;
  margin-top: 10px;
  font-size: 24px;
  text-align: justify;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .infoBox .description {
    font-size: 18px;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox .description {
    height: 20%;
    font-size: 14px;
  }
}
.contentBigCard .containerBigCard .infoBox .baseStats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 85%;
  margin-top: 10px;
}
.contentBigCard .containerBigCard .infoBox .baseStats .baseStat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 28px;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .infoBox .baseStats .baseStat {
    font-size: 20px;
    margin-bottom: 40px;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox .baseStats .baseStat {
    font-size: 14px;
  }
}
.contentBigCard .containerBigCard .infoBox .baseStats .baseStat .baseStatIcon {
  height: 32px;
  width: 32px;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .infoBox .baseStats .baseStat .baseStatIcon {
    height: 25px;
    width: 25px;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox .baseStats .baseStat .baseStatIcon {
    height: 18px;
    width: 18px;
    gap: 3px;
  }
}
.contentBigCard .containerBigCard .infoBox .types {
  display: flex;
  gap: 10px;
  width: 85%;
  margin-block: 10px;
}
.contentBigCard .containerBigCard .infoBox .types img {
  width: 33%;
}
.contentBigCard .containerBigCard .infoBox .footerLine {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .infoBox .footerLine {
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox .footerLine {
    font-size: 9px;
  }
}
.contentBigCard .containerBigCard .pokeArrowRightBigCard {
  position: absolute;
  top: 0;
  left: 320px;
  transform: translateY(-50%);
  z-index: -2;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .pokeArrowRightBigCard {
    left: 250px;
  }
}
@media (max-width: 800px) {
  .contentBigCard .containerBigCard .pokeArrowRightBigCard {
    top: -385px;
    left: 50px;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .pokeArrowRightBigCard {
    top: -280px;
    left: 25px;
  }
}
.contentBigCard .containerBigCard .pokeArrowRightBigCard .pokeArrowRight {
  height: 100px;
  width: auto;
  z-index: -10;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .pokeArrowRightBigCard .pokeArrowRight {
    height: 80px;
  }
}
.contentBigCard .containerBigCard .pokeArrowRightBigCard:hover {
  cursor: pointer;
  transform: translateY(-50%) scale(1);
}
.contentBigCard .containerBigCard .pokeArrowRightBigCard:hover .pokeArrowRightBall {
  transition: transform 300ms ease-in-out;
  transform: rotate(-180deg);
}
.contentBigCard .containerBigCard .pokeArrowRightBigCard .pokeArrowRightBall {
  transition: transform 300ms ease-in-out;
  position: absolute;
  top: 39.5%;
  left: 46.2%;
  height: 18px;
  width: auto;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .pokeArrowRightBigCard .pokeArrowRightBall {
    height: 14px;
  }
}/*# sourceMappingURL=style.css.map */