@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
}
@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
  font-weight: 100 900;
}
/* Colors */
/* Variables */
/* @media breakpoints */
/** 1700px oder schmaler */
/** 1600px oder schmaler */
/** 1300px oder schmaler */
/** 1000px oder schmaler */
/** 800px oder schmaler */
/** 550px oder schmaler */
/** 1700px oder schmaler */
/** 1600px oder schmaler */
/** 1300px oder schmaler */
/** 1000px oder schmaler */
/** 800px oder schmaler */
/** 550px oder schmaler */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Figtree";
  font-size: 16px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(231, 47, 46);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.d_none {
  display: none !important;
}

.d_block {
  display: block !important;
}

.d_flex {
  display: flex !important;
}

svg {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

a {
  text-decoration: none;
}

.menuGridTemplateColumns {
  grid-template-columns: repeat(1, 1fr) !important;
}

.grass_window_bg {
  background-image: url(../assets/img/window_bgs/grass_window_bg.jpg);
}

.grass_card_before::before {
  background-color: rgba(55, 148, 0, 0.5);
}

.fire_window_bg {
  background-image: url(../assets/img/window_bgs/fire_window_bg.jpg);
}

.fire_card_before::before {
  background-color: rgba(255, 69, 0, 0.5);
}

.water_window_bg {
  background-image: url(../assets/img/window_bgs/water_window_bg.jpg);
}

.water_card_before::before {
  background-color: rgba(0, 105, 255, 0.5);
}

.electric_window_bg {
  background-image: url(../assets/img/window_bgs/electric_window_bg.jpg);
}

.electric_card_before::before {
  background-color: rgba(253, 210, 0, 0.5);
}

.ice_window_bg {
  background-image: url(../assets/img/window_bgs/ice_window_bg.jpg);
}

.ice_card_before::before {
  background-color: rgba(173, 216, 230, 0.5);
}

.rock_window_bg {
  background-image: url(../assets/img/window_bgs/rock_window_bg.jpg);
}

.rock_card_before::before {
  background-color: rgba(139, 125, 90, 0.5);
}

.fighting_window_bg {
  background-image: url(../assets/img/window_bgs/fighting_window_bg.jpg);
}

.fighting_card_before::before {
  background-color: rgba(192, 60, 48, 0.5);
}

.poison_window_bg {
  background-image: url(../assets/img/window_bgs/poison_window_bg.jpg);
}

.poison_card_before::before {
  background-color: rgba(128, 0, 128, 0.5);
}

.bug_window_bg {
  background-image: url(../assets/img/window_bgs/bug_window_bg.jpg);
}

.bug_card_before::before {
  background-color: rgba(178, 223, 138, 0.5);
}

.fairy_window_bg {
  background-image: url(../assets/img/window_bgs/fairy_window_bg.jpg);
}

.fairy_card_before::before {
  background-color: rgba(255, 182, 193, 0.5);
}

.dark_window_bg {
  background-image: url(../assets/img/window_bgs/dark_window_bg.jpg);
}

.dark_card_before::before {
  background-color: rgba(54, 57, 63, 0.5);
}

.dragon_window_bg {
  background-image: url(../assets/img/window_bgs/dragon_window_bg.jpg);
}

.dragon_card_before::before {
  background-color: rgba(80, 97, 225, 0.5);
}

.steel_window_bg {
  background-image: url(../assets/img/window_bgs/steel_window_bg.jpg);
}

.steel_card_before::before {
  background-color: rgba(183, 183, 183, 0.5);
}

.ghost_window_bg {
  background-image: url(../assets/img/window_bgs/ghost_window_bg.jpg);
}

.ghost_card_before::before {
  background-color: rgba(112, 65, 112, 0.5);
}

.psychic_window_bg {
  background-image: url(../assets/img/window_bgs/psychic_window_bg.jpg);
}

.psychic_card_before::before {
  background-color: rgba(239, 65, 120, 0.5);
}

.flying_window_bg {
  background-image: url(../assets/img/window_bgs/flying_window_bg.jpg);
}

.flying_card_before::before {
  background-color: rgba(135, 206, 250, 0.5);
}

.ground_window_bg {
  background-image: url(../assets/img/window_bgs/ground_window_bg.jpg);
}

.ground_card_before::before {
  background-color: rgba(191, 153, 84, 0.5);
}

.normal_window_bg {
  background-image: url(../assets/img/window_bgs/normal_window_bg.jpg);
}

.normal_card_before::before {
  background-color: rgba(255, 255, 255, 0.5);
}

.backsideCard {
  transform: rotateY(180deg);
}
.backsideCard::before {
  mix-blend-mode: unset !important;
}
.backsideCard::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/img/backside.png) !important;
  background-size: cover !important;
  pointer-events: none;
  z-index: 10;
  mix-blend-mode: unset !important;
}

.transformOff {
  transition: transform 0s !important;
}
.transformOff:hover .card {
  transition: transform 0s !important;
  transform: unset !important;
}

.loading_window_bg {
  background-image: url(../assets/img/window_bgs/loading_window_bg.jpg);
}

.loading_card_before::before {
  background-color: transparent;
}

.bg {
  background-image: url(../assets/img/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}
.bg::before {
  content: "";
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

main {
  max-width: 1920px;
  min-height: calc(100vh - 140px);
  margin-inline: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1700px) {
  main {
    justify-content: unset;
    margin-top: 25px;
  }
}

.nav {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1612px;
  width: 100%;
  height: 70px;
  margin-inline: auto;
  padding-top: 10px;
  gap: 20px;
}
@media (max-width: 1700px) {
  .nav {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
  }
}
@media (max-width: 1000px) {
  .nav {
    grid-template-columns: repeat(1, 1fr);
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    gap: 10px;
  }
}
.nav .homeButton {
  height: 70px;
  order: 1;
}
@media (max-width: 1000px) {
  .nav .homeButton {
    margin-top: 25px;
  }
}
.nav .homeButton:hover {
  cursor: pointer;
}
.nav .search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 13vw;
  min-width: 241px;
  position: relative;
  order: 2;
}
@media (max-width: 1000px) {
  .nav .search {
    order: 3;
  }
}
.nav .search .searchLabel {
  color: rgb(255, 255, 255);
}
.nav .search .searchLabel .searchIcon {
  height: 35px;
  margin: 10px;
  animation: shake 1s infinite;
}
.nav .search .searchLabel .searchIcon:hover {
  cursor: pointer;
}
@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-1px, -1px);
  }
  50% {
    transform: translate(0.5px, 0);
  }
  75% {
    transform: translate(0, 0.5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.nav .search .pokemonSearchInput {
  width: 100%;
  height: 35px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  outline: none;
  border-top: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(231, 47, 46);
  border-bottom: 2px solid rgb(231, 47, 46);
  border-radius: 5px;
  padding-left: 10px;
}
.nav .search .searchSuggestions {
  position: absolute;
  width: 100%;
  top: 45px;
  left: 0;
  color: rgb(231, 47, 46);
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(231, 47, 46);
  border-radius: 3px;
  padding: 5px;
  margin-top: 10px;
  z-index: 2;
}
.nav .search .searchSuggestions :hover {
  cursor: pointer;
}
.nav .search .searchSuggestions .suggestion {
  padding: 5px;
}
.nav .search .searchSuggestions .suggestion:hover {
  background-color: black;
  color: white;
  border-radius: 3px;
}
.nav .pokemonRegions {
  order: 3;
}
@media (max-width: 1000px) {
  .nav .pokemonRegions {
    order: 2;
  }
}
.nav .pokemonRegions .pokemonRegionsIcon {
  height: 55px;
  animation: tilting 5s infinite;
  filter: drop-shadow(0px 0px 10px #000000);
}
.nav .pokemonRegions .pokemonRegionsIcon:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px #ffffff);
}
@keyframes tilting {
  0% {
    transform: translate(-5px, 0) rotate(-5deg);
  }
  50% {
    transform: translate(5px, 0) rotate(5deg);
  }
  100% {
    transform: translate(-5px, 0) rotate(-5deg);
  }
}
.nav .pokemonRegions .selectedPokemonRegions {
  position: absolute;
  top: -35%;
  left: 50%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 25px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 300px;
  background-color: white;
  transform: translateX(-50%);
  z-index: 1;
  border: 2px solid transparent;
  border-radius: 10px;
  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(4px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.5);
  transition: top 1s ease-in-out;
  box-shadow: 0px 0px 16px 5px #000000;
}
@media (max-width: 800px) {
  .nav .pokemonRegions .selectedPokemonRegions {
    grid-template-columns: repeat(2, 1fr);
    top: -60%;
  }
}
@media (max-width: 550px) {
  .nav .pokemonRegions .selectedPokemonRegions {
    grid-template-columns: repeat(1, 1fr);
    top: -100%;
  }
}
.nav .pokemonRegions .selectedPokemonRegions img {
  height: 50px;
  width: auto;
  filter: drop-shadow(0px 0px 10px #000000);
}
.nav .pokemonRegions .selectedPokemonRegions img:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px #ffffff);
}
.nav .pokemonRegions .transformIn {
  transition: top 1s ease-in-out;
  top: 18%;
}
.nav .yourName {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 13vw;
  min-width: 241px;
  position: relative;
  order: 4;
}
@media (max-width: 1000px) {
  .nav .yourName {
    flex-direction: row-reverse;
  }
}
.nav .yourName .yourNameLabel {
  color: rgb(255, 255, 255);
}
.nav .yourName .yourNameLabel .yourNameIcon {
  height: 45px;
  margin: 5px;
  filter: saturate(1.4) contrast(1.1);
}
.nav .yourName .yourNameLabel .yourNameIcon:hover {
  cursor: pointer;
}
.nav .yourName .userNameInput {
  width: 100%;
  height: 35px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  outline: none;
  border-top: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(231, 47, 46);
  border-bottom: 2px solid rgb(231, 47, 46);
  border-radius: 5px;
  padding-left: 10px;
  caret-color: white;
}
.nav .yourName .userNameInput::-moz-placeholder {
  font-size: 12px;
  padding-left: 5px;
  background: linear-gradient(0deg, rgb(255, 255, 255) 40%, rgb(232, 46, 45) 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav .yourName .userNameInput::placeholder {
  font-size: 12px;
  padding-left: 5px;
  background: linear-gradient(0deg, rgb(255, 255, 255) 40%, rgb(232, 46, 45) 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav .languageSettings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 10px;
  order: 5;
}
.nav .languageSettings img {
  width: 35px;
  height: 35px;
  border-radius: 99999px;
}
.nav .languageSettings img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.contentCards {
  max-height: -moz-fit-content;
  max-height: fit-content;
  max-width: 1440px;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  margin-top: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
@media (max-width: 1700px) {
  .contentCards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1600px) {
  .contentCards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1300px) {
  .contentCards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1000px) {
  .contentCards {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 80px;
  }
}
.contentCards .container {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 377px;
  position: relative;
  perspective: 2500px;
}
.contentCards .container:hover {
  cursor: pointer;
}
.contentCards .container:hover .card {
  transition: transform 0.5s;
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
}
.contentCards .container .card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 377px;
  background-image: url(../assets/img/bgCards.jpg);
  background-size: cover;
  background-position: center;
  border: 10px solid rgb(182, 152, 55);
  border-radius: 10px;
  z-index: -2;
  transition: transform 0.5s;
}
.contentCards .container .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  mix-blend-mode: hard-light;
}
.contentCards .container .card .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}
.contentCards .container .card .info .infoLeft {
  margin-top: 5px;
}
.contentCards .container .card .info .infoLeft .name {
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.7);
}
.contentCards .container .card .info .infoRight {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.contentCards .container .card .info .infoRight .battlePoints {
  font-size: 1rem;
  font-weight: bold;
  color: darkred;
}
.contentCards .container .card .info .infoRight .number {
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 4px;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border: 2px groove rgb(179, 138, 4);
  border-radius: 6px;
}
.contentCards .container .card .window {
  margin-top: 5px;
  height: 45%;
  width: 85%;
  background-size: cover;
  background-position: center;
  border: 6px ridge rgb(179, 138, 4);
  z-index: 0;
}
.contentCards .container .card .basicData {
  font-size: 0.5rem;
  font-weight: bold;
  width: 85%;
  margin-top: 2px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  padding: 2px;
  background-image: linear-gradient(90deg, rgb(150, 120, 15) 0%, rgb(237, 191, 35) 5%, rgb(150, 120, 15) 25%, rgb(208, 167, 28) 75%, rgb(237, 191, 35) 95%, rgb(150, 120, 15) 100%);
}
.contentCards .container .card .description {
  width: 85%;
  height: 20%;
  margin-top: 10px;
  font-size: 0.7rem;
  text-align: justify;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.contentCards .container .card .types {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 85%;
  margin-block: 10px;
}
.contentCards .container .card .types img {
  width: 20px;
  filter: drop-shadow(1px 1px 0px #000000);
}
.contentCards .container .card .footerLine {
  position: absolute;
  bottom: 0;
  font-size: 0.5625rem;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 550px) {
  .contentCards .container .card .footerLine {
    font-size: 0.5rem;
  }
}
.contentCards .container .pokemonCard {
  position: absolute;
  width: 60%;
  top: 33px;
  transition: transform 0.5s;
}
.contentCards .container .loading {
  top: 100px;
  width: 30%;
}
.contentCards .container:hover .pokemonCard {
  transform: translate3d(0%, -30%, 200px);
  pointer-events: none;
}

.pokeArrowRightContainer {
  position: absolute;
  top: calc(50% + 5px);
  right: 20px;
  z-index: 1;
  transform: translateY(-50%);
  opacity: 0.7;
}
@media (max-width: 1700px) {
  .pokeArrowRightContainer {
    position: fixed;
  }
}
@media (max-width: 1000px) {
  .pokeArrowRightContainer {
    display: none;
  }
}
.pokeArrowRightContainer .pokeArrowRight {
  height: 140px;
  width: auto;
}
.pokeArrowRightContainer:hover {
  cursor: pointer;
  transform: translateY(-50%) scale(1);
}
.pokeArrowRightContainer:hover .pokeArrowRightBall {
  transition: transform 300ms ease-in-out;
  transform: rotate(-180deg);
}
.pokeArrowRightContainer .pokeArrowRightBall {
  transition: transform 300ms ease-in-out;
  position: absolute;
  top: 40%;
  left: 46%;
  height: 25px;
  width: auto;
}

.pokeArrowLeftContainer {
  position: absolute;
  top: calc(50% + 5px);
  left: 20px;
  z-index: 1;
  transform: translateY(-50%);
  opacity: 0.7;
}
@media (max-width: 1700px) {
  .pokeArrowLeftContainer {
    position: fixed;
  }
}
@media (max-width: 1000px) {
  .pokeArrowLeftContainer {
    display: none;
  }
}
.pokeArrowLeftContainer .pokeArrowLeft {
  height: 140px;
  width: auto;
}
.pokeArrowLeftContainer:hover {
  cursor: pointer;
  transform: translateY(-50%) scale(1);
}
.pokeArrowLeftContainer:hover .pokeArrowLeftBall {
  transition: transform 300ms ease-in-out;
  transform: rotate(180deg);
}
.pokeArrowLeftContainer .pokeArrowLeftBall {
  transition: transform 300ms ease-in-out;
  position: absolute;
  top: 40%;
  right: 46%;
  height: 25px;
  width: auto;
}

.pokeArrowMobileButtonsRight {
  display: none;
  position: fixed;
  right: 25px;
  bottom: 0;
  z-index: 2;
  opacity: 0.7;
}
@media (max-width: 1000px) {
  .pokeArrowMobileButtonsRight {
    display: block;
  }
}
.pokeArrowMobileButtonsRight .pokeArrowMobileRight {
  height: 50px;
}
.pokeArrowMobileButtonsRight .pokeArrowMobileRight:hover {
  cursor: pointer;
}
.pokeArrowMobileButtonsRight .pokeArrowMobileRightBall {
  position: absolute;
  top: 21px;
  right: 29px;
  height: 8px;
}
.pokeArrowMobileButtonsRight .pokeArrowMobileRightBall:hover {
  cursor: pointer;
}
.pokeArrowMobileButtonsRight:hover .pokeArrowMobileRightBall {
  transition: transform 300ms ease-in-out;
  transform: rotate(-180deg);
}

.pokeArrowMobileButtonsLeft {
  display: none;
  position: fixed;
  left: 25px;
  bottom: 0;
  z-index: 2;
  opacity: 0.7;
}
@media (max-width: 1000px) {
  .pokeArrowMobileButtonsLeft {
    display: block;
  }
}
.pokeArrowMobileButtonsLeft .pokeArrowMobileLeft {
  height: 50px;
}
.pokeArrowMobileButtonsLeft .pokeArrowMobileLeft:hover {
  cursor: pointer;
}
.pokeArrowMobileButtonsLeft .pokeArrowMobileLeftBall {
  position: absolute;
  top: 21px;
  left: 29px;
  height: 8px;
}
.pokeArrowMobileButtonsLeft .pokeArrowMobileLeftBall:hover {
  cursor: pointer;
}
.pokeArrowMobileButtonsLeft:hover .pokeArrowMobileLeftBall {
  transition: transform 300ms ease-in-out;
  transform: rotate(-180deg);
}

.contentBigCard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -70px;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  min-width: 100%;
  z-index: 5;
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.5);
}
.contentBigCard .containerBigCard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 80px;
}
.contentBigCard .containerBigCard .pokeArrowLeftBigCard {
  position: absolute;
  top: 5px;
  right: 320px;
  transform: translateY(-50%);
  z-index: -2;
  opacity: 0.7;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .pokeArrowLeftBigCard {
    right: 250px;
  }
}
@media (max-width: 800px) {
  .contentBigCard .containerBigCard .pokeArrowLeftBigCard {
    top: 390px;
    right: 50px;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .pokeArrowLeftBigCard {
    top: 270px;
    right: 25px;
  }
}
.contentBigCard .containerBigCard .pokeArrowLeftBigCard .pokeArrowLeft {
  height: 100px;
  width: auto;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .pokeArrowLeftBigCard .pokeArrowLeft {
    height: 80px;
  }
}
.contentBigCard .containerBigCard .pokeArrowLeftBigCard:hover {
  cursor: pointer;
  transform: translateY(-50%) scale(1);
}
.contentBigCard .containerBigCard .pokeArrowLeftBigCard:hover .pokeArrowLeftBall {
  transition: transform 300ms ease-in-out;
  transform: rotate(180deg);
}
.contentBigCard .containerBigCard .pokeArrowLeftBigCard .pokeArrowLeftBall {
  transition: transform 300ms ease-in-out;
  position: absolute;
  top: 39.5%;
  right: 46.2%;
  height: 18px;
  width: auto;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .pokeArrowLeftBigCard .pokeArrowLeftBall {
    height: 14px;
  }
}
.contentBigCard .containerBigCard .infoBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 837.7777777778px;
  width: 600px;
  background-image: url(../assets/img/bgCards.jpg);
  background-size: cover;
  background-position: center;
  border: 10px solid rgb(182, 152, 55);
  border-radius: 10px;
  z-index: -2;
  transition: transform 0.5s;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .infoBox {
    max-height: 670.2222222222px;
    max-width: 480px;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox {
    max-height: 418.8888888889px;
    max-width: 300px;
  }
}
.contentBigCard .containerBigCard .infoBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  mix-blend-mode: hard-light;
}
.contentBigCard .containerBigCard .infoBox .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}
.contentBigCard .containerBigCard .infoBox .info .infoLeft {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}
.contentBigCard .containerBigCard .infoBox .info .infoLeft .name {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .infoBox .info .infoLeft .name {
    font-size: 1.125rem;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox .info .infoLeft .name {
    font-size: 0.875rem;
  }
}
.contentBigCard .containerBigCard .infoBox .info .infoLeft .cries {
  height: 30px;
  fill: #b38a04;
  filter: drop-shadow(2px 2px 2px #000000);
}
.contentBigCard .containerBigCard .infoBox .info .infoLeft .cries:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px #ffffff);
}
.contentBigCard .containerBigCard .infoBox .info .infoRight {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.contentBigCard .containerBigCard .infoBox .info .infoRight .battlePoints {
  font-size: 1.5rem;
  font-weight: bold;
  color: darkred;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .infoBox .info .infoRight .battlePoints {
    font-size: 1.125rem;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox .info .infoRight .battlePoints {
    font-size: 0.875rem;
  }
}
.contentBigCard .containerBigCard .infoBox .info .infoRight .number {
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 4px;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border: 2px groove rgb(179, 138, 4);
  border-radius: 6px;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .infoBox .info .infoRight .number {
    font-size: 1.125rem;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox .info .infoRight .number {
    font-size: 0.875rem;
  }
}
.contentBigCard .containerBigCard .infoBox .window {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  height: 45%;
  width: 85%;
  background-size: cover;
  background-position: center;
  border: 6px ridge rgb(179, 138, 4);
  z-index: 0;
  position: relative;
}
.contentBigCard .containerBigCard .infoBox .window .pokemon {
  position: absolute;
  bottom: 0;
  height: 320px;
  width: 320px;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .infoBox .window .pokemon {
    height: 250px;
    width: 250px;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox .window .pokemon {
    height: 130px;
    width: 130px;
  }
}
.contentBigCard .containerBigCard .infoBox .basicData {
  font-size: 1.125rem;
  font-weight: bold;
  width: 85%;
  margin-top: 2px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  padding: 2px;
  background-image: linear-gradient(90deg, rgb(150, 120, 15) 0%, rgb(237, 191, 35) 5%, rgb(150, 120, 15) 25%, rgb(208, 167, 28) 75%, rgb(237, 191, 35) 95%, rgb(150, 120, 15) 100%);
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .infoBox .basicData {
    font-size: 1rem;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox .basicData {
    font-size: 0.5rem;
  }
}
.contentBigCard .containerBigCard .infoBox .description {
  width: 85%;
  height: 15%;
  margin-top: 10px;
  font-size: 1.3rem;
  text-align: justify;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .infoBox .description {
    font-size: 1.125rem;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox .description {
    font-size: 0.875rem;
  }
}
.contentBigCard .containerBigCard .infoBox .quickInfos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  gap: 0px;
  margin-bottom: 25px;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .infoBox .quickInfos {
    gap: 15px;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox .quickInfos {
    gap: 5px;
  }
}
.contentBigCard .containerBigCard .infoBox .quickInfos .myChart {
  max-height: 100% !important;
  max-width: 100% !important;
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox .quickInfos .myChart {
    max-height: 100% !important;
    max-width: 80% !important;
  }
}
.contentBigCard .containerBigCard .infoBox .quickInfos .types {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 85%;
  margin-block: 20px;
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox .quickInfos .types {
    gap: 15px;
  }
}
.contentBigCard .containerBigCard .infoBox .quickInfos .types img {
  width: 40px;
  filter: drop-shadow(1px 1px 0px #000000);
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .infoBox .quickInfos .types img {
    width: 30px;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox .quickInfos .types img {
    width: 20px;
  }
}
.contentBigCard .containerBigCard .infoBox .footerLine {
  position: absolute;
  bottom: 0;
  font-size: 1.125rem;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .infoBox .footerLine {
    font-size: 1rem;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .infoBox .footerLine {
    font-size: 0.5625rem;
  }
}
.contentBigCard .containerBigCard .pokeArrowRightBigCard {
  position: absolute;
  top: 0;
  left: 320px;
  transform: translateY(-50%);
  z-index: -2;
  opacity: 0.7;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .pokeArrowRightBigCard {
    left: 250px;
  }
}
@media (max-width: 800px) {
  .contentBigCard .containerBigCard .pokeArrowRightBigCard {
    top: 390px;
    left: 50px;
  }
}
@media (max-width: 550px) {
  .contentBigCard .containerBigCard .pokeArrowRightBigCard {
    top: 270px;
    left: 25px;
  }
}
.contentBigCard .containerBigCard .pokeArrowRightBigCard .pokeArrowRight {
  height: 100px;
  width: auto;
  z-index: -10;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .pokeArrowRightBigCard .pokeArrowRight {
    height: 80px;
  }
}
.contentBigCard .containerBigCard .pokeArrowRightBigCard:hover {
  cursor: pointer;
  transform: translateY(-50%) scale(1);
}
.contentBigCard .containerBigCard .pokeArrowRightBigCard:hover .pokeArrowRightBall {
  transition: transform 300ms ease-in-out;
  transform: rotate(-180deg);
}
.contentBigCard .containerBigCard .pokeArrowRightBigCard .pokeArrowRightBall {
  transition: transform 300ms ease-in-out;
  position: absolute;
  top: 39.5%;
  left: 46.2%;
  height: 18px;
  width: auto;
}
@media (max-width: 1000px) {
  .contentBigCard .containerBigCard .pokeArrowRightBigCard .pokeArrowRightBall {
    height: 14px;
  }
}

.imprint {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 70px);
  max-width: 1000px;
  margin-inline: auto;
  margin-top: 25px;
  padding: 25px;
  border: 2px solid rgb(231, 47, 46);
  border-radius: 5px;
  color: black;
  background-color: white;
  word-break: break-all;
}
.imprint .header,
.imprint .address,
.imprint .representedBy,
.imprint .contact {
  margin-block: 10px;
}
.imprint h2 {
  margin-top: 15px;
}
.imprint h3 {
  margin-block: 25px;
}

.privacyPolicy {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 70px);
  max-width: 1000px;
  margin-inline: auto;
  margin-top: 25px;
  padding: 25px;
  border: 2px solid rgb(231, 47, 46);
  border-radius: 5px;
  color: black;
  background-color: white;
  word-break: break-all;
}
.privacyPolicy h1,
.privacyPolicy h2,
.privacyPolicy h3,
.privacyPolicy p,
.privacyPolicy ul {
  margin-top: 15px;
}
.privacyPolicy ul {
  margin-left: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
@media (max-width: 550px) {
  .footer {
    margin-top: 30px;
    margin-bottom: 60px;
    flex-direction: column;
  }
}
.footer img {
  height: 50px;
  filter: drop-shadow(0px 0px 10px #000000);
}
.footer img:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px #ffffff);
}

.cardEffekt:hover::before, .cardEffekt:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  mix-blend-mode: color-dodge;
  transition: all 300ms ease;
}
.cardEffekt:hover::before {
  background-position: 50% 50%;
  background-size: 500% 500%;
  background-image: linear-gradient(115deg, transparent 0%, rgb(224, 188, 216) 25%, transparent 50%, rgb(165, 220, 228) 75%, transparent 100%);
  transition: background-image 300ms ease-in-out;
  animation: holoGradient 6s linear infinite;
}

@keyframes holoGradient {
  0% {
    background-position: 100% 100%;
    opacity: 0.5;
    filter: brightness(1.2) contrast(1);
  }
  25% {
    opacity: 0.8;
  }
  50% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(1) contrast(1.25);
  }
  75% {
    opacity: 0.8;
  }
  100% {
    background-position: 100% 100%;
    opacity: 0.5;
    filter: brightness(1.2) contrast(1);
  }
}/*# sourceMappingURL=style.css.map */